/* Reset some default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    font-family: 'Nunito', sans-serif;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

img {
    max-width: 100%;
}

body {
    width: 100%;
    min-height: 100vh;
    background: #0d1117;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Header styles */
.header {
    width: 100%;
    background-color: #0d1117;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo {
    display: flex;
    align-items: center;
    font-size: 2rem;
    color: #ffffff;
    text-decoration: none;
}

.header__logo img {
    margin-right: 1rem;
}

.header__nav {
    display: flex;
}

.header-nav__list {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.header-nav__link {
    color: #ffffff;
    text-decoration: none;
    font-size: 1.6rem;
    position: relative;
}

.header-nav__link:hover,
.header-nav__link:focus,
.current.header-nav__link {
    color: #BE123C;
}

.header-nav__link--contact svg {
    margin-left: 0.5rem;
}

.mobile-menu__btn {
    display: none;
    flex-direction: column;
    gap: 0.5rem;
    background: none;
    cursor: pointer;
}

.burger-line {
    width: 2rem;
    height: 0.2rem;
    background-color: #ffffff;
}

@media (max-width: 768px) {
    .header__nav {
        display: none;
    }
    
    .mobile-menu__btn {
        display: flex;
    }
}

.contacts {
    padding: 2rem 9%;
    margin-top: 5rem;
}

.p .ptext {
    color: #ffffff;
}

.contacts .heading {
    text-align: center;
    margin-bottom: 2rem;
    color: #f2f2f2;
    font-size: 5rem;
}

.contacts .heading2 {
    text-align: center;
    margin-bottom: 10rem;
    color: #f2f2f2;
    font-size: 2rem;
}

.contacts .heading span {
    color: #BE123C;
}

.contacts .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 10rem;
}

.contacts .row .img {
    flex: 1 1 10rem;
}

.contacts .row form {
    flex: 1 1 40rem;
}

.contacts .row form .box {
    width: 100%;
    margin-bottom: 2rem;
    border-radius: 0.5rem;
    padding: 1rem;
    background-color: #f2f2f2;
    color: #797777;
    border: 1px solid #ffffff;
    transition: border-color 0.3s;
}

.contacts .row form .box:focus {
    color: #BE123C;
}

.contacts .row form span {
    color: #f2f2f2;
    font-size: 1.6rem;
}

.btn {
    padding: 1rem 3rem;
    border-radius: 1.5rem;
    background-color: #BE123C;
    color: #f2f2f2;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
    background-color: #f2f2f2;
    color: #BE123C;
}
